@model IEnumerable<Vendas.Models.Cliente>
@{
    ViewData["Title"] = "Lista de Clientes";
}
<h2>Lista de Clientes</h2>

<form method="get" asp-controller="Cliente" asp-action="Index">
    <div class="form-group">
        <input type="text" name="searchString" class="form-control" placeholder="Pesquisar pelo nome..." />
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
    <a asp-action="Create" class="btn btn-success">Novo Cliente</a>
    <a asp-action="LoadFromApi" class="btn btn-info">Carregar da API</a>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id Cliente</th>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.idCliente</td>
                <td>@item.nmCliente</td>
                <td>@item.Cidade</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idCliente" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.idCliente" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
